body {
  font-family: "Droid Serif", serif;
  font-size: 12px;
  margin: 0.5;
  padding: 0;
  margin-right: 2%;
  color: #2f2f2f;
  background-color: #f9f7f1;
}
header {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 50px;
  overflow: hidden;
  white-space: initial;
  text-transform: uppercase;
  display: inline;
  line-height: 72px;
  margin-bottom: 20px;
  max-width: 80%;
  min-width: 600px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
}
.head {
  text-align: left;
  position: relative;
    max-width: 100%;
}

.headerobjectswrapper {
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
    max-width: 100%;
  font-size: 20px;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0px 12px 0px;
  margin-bottom: 10px;
}
.weatherforcastbox {
  position: relative;
  width: 12%;
  left: 10px;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
  margin: 0 50px 20px -360px;
}
.content {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  word-spacing: -0.31em;
  display: inline;
  max-width: 85%;
  margin: 30px 5% 0 5%;
  margin-left: -0.6%;
  margin-right: 4%;
}
.collumns {
}

.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 13%;
  display: inline-block;
  padding: 0 0.8% 0 0.5%;
  vertical-align: top;
  transition: all 0.7s;
   margin-bottom: 50px;
    margin-right: 1%;
    min-width: 350px;
}
.collumn + .collumn {
  border-left: 1px solid #2f2f2f;
  height: 150%
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: inline-block;
  padding: 10px 0 10px 0px;
  margin: 0 auto;
}
.collumn .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  overflow: hidden;
white-space: initial;
}
.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .citation {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 44px;
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";
}
.collumn .citation:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.collumn .citation:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
.collumn .figure {
  margin: 0 0 20px;
}
.collumn .figcaption {
  font-style: italic;
  font-size: 12px;
}
.media {
  mix-blend-mode: multiply;
  max-width: 90%;
  min-width: 350px;
}

.headerobjectswrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
